body {
  margin: 0;

}

@font-face {
  font-family: 'Pixel';
  src: url( 'font/Pixel-LCD-7.woff' ) format( 'woff' );
}


h1.title {
  font-family: 'Pixel', sans-serif;
  color: #FFF;
  padding: 20px;
  font-size: 5rem;
}